@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #f6f4e6;
    color: #52575d;
    box-sizing: border-box;
    border-bottom: 60px solid #fddb3a;

}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    margin: 70px 200px 200px 115px;
}

.lastName {
    color: #41444b;
}

h1 {
    margin-top: 114px;
    position: relative;
}

h1:after {
    content: "";
    display: block;
    height: 1px;
    width: auto;
    background: #bbbdbf;
    margin-top: 37px;
}

.yellowBlock {
    content: " ";
    position: absolute;
    top: 67px;
    display: block;
    width: 48px;
    height: 16px;
    background-color: #fddb3a;
}

p {
    margin: 0;
    padding: 0 0 10px 0;
}

.photo {
    float: right;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.person-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FIO {
    font-weight: 1000;
    line-height: 27px;
}

.prof {
    text-decoration-line: underline;
    text-decoration-color: #fddb3a;
    text-decoration-style: solid;
    text-shadow: #52575d 2px 0 3px;
}
.education-h1 {
    margin-top: 100px;
}
.mail {
    margin: 20px 0px 20px 0px;
}

.mail:before {
    font-family: 'icomoon';
    content: "\e900";
    color: #3a5cfd;
    margin-right: 10px;
}

.phone {
    margin-bottom: 20px;
}

.phone:before {
    font-family: 'icomoon';
    content: "\f095";
    margin-right: 10px;
    color: #3a5cfd;
}

.Github {
    margin-bottom: 20px;
}


.Github::before {
    font-family: 'icomoon';
    content: "\f09b";
    margin-right: 10px;
    color: #3a5cfd;
}

.education-text {
    display: grid;
    grid-template-columns: 44px auto;
    column-gap: 4px;
}
.Html_icon::before {
    font-family: 'icomoon2';
    margin-right: 10px;
    content: "\e904";
    color: #e34f26;
}
.Html_icon{
    font-size: 140%;
}
.Css_icon::before {
    font-family: 'icomoon2';
    margin-right: 10px;
    content: "\e902";
    color: #1572b6;
}
.Css_icon{
    font-size: 140%;
}

.JS_icon::before {
    font-family: 'icomoon2';
    margin-right: 10px;
    content: "\e900";
    color: #f7df1e;
}
.JS_icon{
    font-size: 140%;
}
.Git_icon::before {
    font-family: 'icomoon2';
    margin-right: 10px;
    content: "\e903";
    color: #f05032;
}
.Git_icon{
    font-size: 140%;
}